        body{
            background-image: url(Calming_Nature_Green_Welcome_Still_HD_WM.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;
        }
        #fpage{
            width: 520px;
            height: 670px;
            background-color: #114836;
            opacity: 0.9;
            border-radius: 30px;
            margin: auto;
            top: 60px;
            left: 520px;
            position: absolute;
        }
        img{
            width: 70px;
            height: 70px;
            position: relative;
            top: 20px;
            left: 41%;
        }
        .i1{
            margin: 5px 49px;
            padding: 10px;
            width: 400px;
            background-color: #114836;
            opacity: 0.9;
            border: none;
            border-bottom-style: solid;
            font-size: 25px;
            color: white;
        }
        input:hover{
            font-weight:bold;
            border-bottom-color:firebrick;
        }
        #name{
          display: inline-block;
            width: 140px;
            
        }
        .i2{
            margin-left: 70px;
            margin-right:30px;
        }
        .i2:hover{
            cursor: pointer;
        }
        h5{
            display: inline-block;
            font-size: 21px;
            color:darkgrey;
        }
        .i3{
            position: relative;
            left:130px;
            padding: 5px;
            width: 240px;
            background-color: #114836;
            opacity: 0.9;
            border: none;
            color: white;
            font-size: 33px;
        }
        .i3:hover{
            left: 131px;
            font-weight: bold;
            cursor: pointer;
            color: firebrick;   
        }
            .back{
            width: 100%;
            height: 100%;
            position: fixed;
        }
        a{
            margin: 0px 60px;
            color: white;
            opacity: 0.7;
            text-decoration: none;
            font-size: 18px;
            position: absolute;
        }
        a:hover{
            font-weight: bold;
            margin-left: 52px ;
            color: firebrick;
        }
@media screen and (min-width:0) and (max-width:1000px){
  
    #fpage{
        transform: matrix(0.28,0,0,0.28,-600,-295);
        opacity: 0.7;
    }
}
